@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';
@import 'sass-rem';

.card-horizontal {
  display: flex;
  gap: rem(8px);
  .right-content {
    .main-title {
      @include cardHorizontalTitle;
      margin-bottom: rem(8px);
    }
    .sub-title {
      @include cardHorizontalTitle;
      font-weight: 400;
    }
  }
}

.card-horizontal-custom {
  @extend .card-horizontal;
  flex-direction: column;
}

@include customMaxBreakPoint(576) {
  .card-horizontal {
    img {
      @include rem(
        (
          max-width: 80px,
          min-height: 80px,
          width: 100%,
          height: 100%
        )
      );
    }
  }
}
