@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';

.custom_form {
  max-width: rem(343px);
  width: 100%;
  flex: 1 0 auto;
  @media only screen and (max-width: 576px) {
    padding: 0 rem(16px);
  }

  .logo_visible {
    margin-top: rem(25px);
    margin-bottom: rem(12px);
    display: flex;
    justify-content: flex-end;
    padding: 0 rem(16px);
    @media only screen and (min-width: 576px) {
      justify-content: center;
      margin-bottom: rem(24px);
      padding: 0;
    }
    .close_icon {
      padding: 0;
      right: 0;
      @media only screen and (min-width: 576px) {
        display: none;
      }
    }
    .view_logo {
      @media only screen and (min-width: 576px) {
        display: none;
      }
    }
    .view_title {
      @media only screen and (max-width: 576px) {
        display: none;
      }
    }
  }
  .mt_8 {
    margin-top: rem(8px);
  }
  .mt_16 {
    margin-top: rem(16px);
  }
  .mt_32 {
    margin-top: rem(32px);
  }
  .mb_4 {
    margin-bottom: rem(4px);
  }
  .mb_40 {
    margin-bottom: rem(40px);
  }
  .mt_20 {
    margin-top: rem(20px);
  }
  .mt_48 {
    margin-top: rem(48px);
  }
  .verify_email {
    padding: 0;
  }
  .auth_option {
    display: flex;
    flex-direction: column;
    .divider {
      border: rem(0.5px) solid $grey-300;
      margin: rem(12px) 0;
    }
    .terms_container {
      padding-left: rem(19px);
      .term_wrapper {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .nowrap {
    white-space: nowrap;
  }
  .inline_block {
    display: inline-block;
  }

  .register_wrapper {
    display: flex;
    gap: rem(4px);
    margin-bottom: rem(26px);
    @media only screen and (max-width: 576px) {
      margin-bottom: rem(40px);
    }
  }
}
