/** @format */

@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';
@import 'sass-rem';

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  margin: auto;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
  background: $background;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: rem(14px 24px) !important;
  padding: rem(20px 40px) !important;
  width: initial;
  .right-header {
    display: flex;
    align-items: center;
    justify-content: center;
    .button-project {
      background-color: $backblack;
      @include titleButton;
      margin-right: rem(10px);
      opacity: 0.7;
      color: $black-basic;
    }
  }
}
